/* Mensajes de respuesta */
.mensaje {
  font-size: 13px;
  padding: 6px 10px;
  border-radius: 4px;
}

.exito {
  background: #d4edda;
  color: #155724;
}

.error {
  background: #f8d7da;
  color: #721c24;
}

/* Tabla de resultados */
#tabla-container table {
  width: 100%;
  font-size: 14px;
}

/* Estilos para las tecnologías del Footer */
.badge {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  font-weight: 500;
  border-radius: 50px;
  transition: transform 0.2s;
}

.badge:hover {
  transform: scale(1.05);
}

/* Colores Corporativos */
.tech-node {
  background-color: #339933;
  color: white;
}
.tech-express {
  background-color: #000000;
  color: white;
}
.tech-postgres {
  background-color: #336791;
  color: white;
}
.tech-pg {
  background-color: #336791;
  color: white;
  opacity: 0.8;
}
.tech-bootstrap {
  background-color: #7952b3;
  color: white;
}
.tech-html {
  background-color: #e34f26;
  color: white;
}
.tech-css {
  background-color: #1572b6;
  color: white;
}
.tech-js {
  background-color: #f7df1e;
  color: black;
}
.tech-thunder {
  background-color: #7500e3;
  color: white;
}
